.reset {
  text-align: left;
  font-size: 14px !important;
  zoom: 1 !important;
  transform-origin: 0 0;
}

.wac-img-components {
  border: none !important;
  width: 80%;
  border-radius: 3px;
}

html .wac-demo {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 20px;
  width: 940px;
  margin-bottom: 20px;
}

/* overrides */
.reveal pre, .reveal code {
  font-size: 1.2rem;
  width: 940px;
  padding: 20px;
  border-radius: 3px;
}

.reveal div.highlight {
  margin: 0;
  padding: 0;
}

.contrast{
  color: #002B36 !important;
}